*{
    margin: 0;
}
body{
    overflow: hidden;
}
.main{
    height: 100vh;
    display: grid;
    grid-template-columns: 8% auto ;
    grid-template-rows: 100vh;
    background: rgb(240, 240, 240);
}
nav{
    background: white;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 50px);
    grid-gap: 10px;
    align-items: center;
    justify-content: space-between;
    margin: auto 20px;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 0px 40px rgba(41, 41, 41, 0.3);
}
nav button{
    width: 100%;
    border: none;
    background-color: white;
    color: rgba(18, 18, 18, 0.5);
    border-radius: 8px;
    transition: 0.2s linear;
    font-size: 14px;
}
nav button:hover{
    color: #121212;
    cursor: pointer;
}
.middle-section{
    position: relative;
    padding: 70px 50px 90px 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
.windows{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    gap: 4px;
}
#video{
    object-fit: fill;
}
.window-1{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* background: url(https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374); */
}
.window-2{
    background: url(https://images.unsplash.com/photo-1519085360753-af0119f7cbe7?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387);
}
.window-3{
    background: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870);
}
.window-4{
    background: url(https://images.unsplash.com/photo-1560250097-0b93528c311a?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387);
}
.window-5{
    background: url(https://images.unsplash.com/photo-1557862921-37829c790f19?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871);
}
.window-6{
    background: url(https://images.unsplash.com/photo-1568602471122-7832951cc4c5?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470);
}
.window-1, .window-2, .window-3, .window-4, .window-5, .window-6{
    position: relative;
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
}
.name{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px 10px;
    padding: 4px 8px;
    background-color: rgba(173, 173, 173, 0.692);
    backdrop-filter: blur(8px);
    border-radius: 8px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}
.tools{
    position: absolute;
    width: 50%;
    height: 50px;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin: 20px auto; 
    display: grid;
    grid-template-columns: repeat(3, 70px) 150px ;
    justify-content: center;
}
.tools button{
    height: 50px;
    width: 50px;
    border: none;
    background-color: white;
    color: rgba(18, 18, 18, 0.5);
    border-radius: 50%;
    transition: 0.2s linear;
    font-size: 20px;
    box-shadow: 0 0 8px rgba(18, 18, 18, 0.4);
    padding: 10px;
}
.tools .maximize{
    border-radius: 8px;
}
.tools .hangup{
    height: 50px;
    width: auto;
    color: red;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
}
.tools button:hover{
    background-color: #121212;
    color: white;
    cursor: pointer;
}
.tools .hangup:hover{
    height: 50px;
    width: auto;
    color: white;
    background: red;
}
.chat-box{
    opacity: 0;
    position: absolute;
    right: 0;
    width: 375px;
    height: 100%;
    background: white;
    box-shadow: 0 0 16px rgba(18, 18, 18, 0.4);
    transition: .3s ease-in-out;
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    opacity: 1;
    transform: translateX(0%);
}

@media (max-width:  1095px) {
    .window-1, .window-2, .window-3, .window-4, .window-5, .window-6{
        width: 250px;
        height: 150px;
    }
}
@media (max-width: 930px) {
    .main{
        grid-template-columns: 100%;
        grid-template-rows: 10% 75% 15%;
    }
    .tools{
        position: relative;
    }
    nav{
        z-index: 2;
        grid-template-columns: repeat(5, 50px);
        grid-template-rows: 100%;
        justify-self: center;
    }
    .chat-box{
        width: 100%;
        transform: translateX(0%);
        transform: translateY(100%);
    }
    .active{
        transform: translateX(100%);
        transform: translateY(0%);
    }
    .middle-section{
        padding: 10px 20px;
    }
}
@media (max-width:  543px) {
    nav{
        width: 90%;
    }
    .window-1, .window-2, .window-3, .window-4, .window-5, .window-6{
        width: 150px;
        height: 100px;
    }
    .tools{
        width: 100%;
        grid-template-columns: repeat(3, 60px) 70px;
        align-items: center;
        justify-content: center;
    }
    .name{
        font-size: x-small;
    }
}